<!-- FlightConnect dashboard.html -->

<html>

    <head>
        <title>Dashboard - FlightConnect</title>
        <link rel="stylesheet" href="/public/css/main.css">
        <script src="/public/js/dashboard.js" defer></script>
    </head>


    <body class="mainBody">

        <header class="header">
            <h1 class="title">FlightConnect</h1>
            <nav class="navBar">
                <ul>
                    <li><button class="button-74" role="button" onclick="window.location.href='dashboard.html'">Dashboard</button></li>
                    
                    <li><button class="button-74" role="button" onclick="window.location.href='schedules.html'">Schedules</button></li>
                    
                    <li><button class="button-74" role="button" onclick="window.location.href='about.html'">About</button></li>
                </ul>
            </nav>
        </header>

        <br>
        <h1>Dashboard</h1>

        <br>
        <h2>Major Delays</h2>
        <div id="majorDelaysContainer">
            <table id="majorDelaysTable">
                <thead>
                    <tr>
                        <th>Flight</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Delay (minutes)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>

                    <tr>
                    </tr>

                    <tr>
                    </tr>

                    <tr>
                    </tr>

                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>

        <br><br><br>
        <h2>Help</h2>
    </body>

</html>