<!-- FlightConnect dashboard.html -->

<html>

    <head>
        <title>Home  - FlightConnect</title>
        <link rel="stylesheet" href="/css/main.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script> <!-- Chart.js library -->
        <script src="/js/dashboard.js" defer></script>
    </head>


    <body class="mainBody">

        <header class="header">
            <h1 class="title">FlightConnect</h1>
            <nav class="navBar">
                <ul>
                    <li><button class="button-74" onclick="window.location.href='/dashboard'">Home</button></li>

                    <li><button class="button-74" onclick="window.location.href='/schedules'">Schedules</button></li>

                    <li><button class="button-74" onclick="window.location.href='/about'">About</button></li>
                </ul>
            </nav>
        </header>

        <br><br>
        <h1>Dashboard</h1>
        <div id="dashboardContainer">
            <h2 id="majorDelaysHeader">Major Delays</h2>

            <div id="dashboardContent">
                <div id="majorDelaysContainer">
                    <table id="majorDelaysTable">
                        <thead>
                            <tr>
                                <th>Flight</th>
                                <th>Origin</th>
                                <th>Destination</th>
                                <th>Delay (minutes)</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <aside id="flightStatusContainer">
                    <div class="chartBox">
                        <canvas id="flightStatusChart"></canvas>
                    </div>
                </aside>
            </div>
        </div>
    </body>

</html>