/* #region main.css */

.mainBody {
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(244, 230, 204);
    border: 3px solid rgb(0, 0, 0);
    padding: 20px;
    min-height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(0, 0, 0);
    box-sizing: border-box; 
    margin: 0
}
    .title {
        margin: 0%;
        font-size: 40px;
    }

    .navBar {
        display: flex;
        list-style: none;
        margin: 0%;
        padding: 0%;
    }
        .navBar li {
            display: inline-block;
            position: relative;
        }

        .navBar ul {
            text-align: center;
            padding: 5px;
            margin: 0 auto;
        }
        
        .navBar ul li {
            list-style-type: none;
            text-align: center;
            padding: 5px;
        }

.button-74 {
    background-color: rgb(244, 230, 204);
    border: 2px solid #000000;
    border-radius: 30px;
    box-shadow: #000000 4px 4px 0 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-74:hover {
    background-color: #fff;
}

.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}
/* #endregion */


/* #region home.css */

#majorDelaysTable {
    width: 100%;              
    margin: 0 auto;  
    border-collapse: collapse;
    border: 4px solid black;
}

    #majorDelaysTable th {
        text-align: center;      
        padding: 10px;
    }

    #majorDelaysTable td {
        text-align: center;
        padding: 10px;
    }

#dashboardContainer {
    display: flex;
    gap: 40px;
    align-items: center; 
}


    #majorDelaysContainer {
        flex: 2;
    }

    #flightStatusContainer {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        min-height: 0; 
    }

        .chartBox {
            display: flex;
            justify-content: center;
            align-items: center; 
            width: 100%; 
            max-width: 300px; 
            height: auto;       
        }

            #flightStatusChart {
                width: 100% !important;
                height: 100% !important; 
            }


/* #endregion */
