/* #region main.css */

.mainBody {
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(244, 230, 204);
    border: 3px solid rgb(0, 0, 0);
    padding: 20px;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .title {
        margin: 0%;
        font-size: 40px;
    }

    .navBar {
        display: flex;
        list-style: none;
        margin: 0%;
        padding: 0%;
    }
        .navBar li {
            display: inline-block;
            position: relative;
        }

        .navBar li:hover {
            background-color: #0000001e;
        }

        .navBar ul {
            text-align: center;
            padding: 5px;
            margin: 0 auto;
        }
        
        .navBar ul li {
            list-style-type: none;
            text-align: center;
            padding: 5px;
        }

/* #endregion */


/* #region home.css */

#majorDelaysTable {
    width: 100%;              
    margin: 0 auto;  
    border-collapse: collapse;
    border: 4px solid black;
}

    #majorDelaysTable th {
        text-align: center;      
        padding: 10px;
    }

    #majorDelaysTable td {
        text-align: center;
        padding: 10px;
    }

/* #endregion */
